target/
target
bin/
*.class
*.jar
*.war
*.ear
*.logs
*.log
*.iml
*.gz
publish.properties
.settings/
.idea/
.classpath
.project
.externalToolBuilders/
*segments*
!SetCharacterEncodingFilter.class
!TypeSystemHolder.class
**.allure/*
/.metadata/
.cvsignore
Servers/
.DS_Store
node_modules/
bedrock/
node/